.SearchContainer {
  h1 {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    margin-bottom: 1em;
    font-size: 60px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
