.Minutely {
  width: 100%;
  margin-top: 30px;
  color: rgba($color: #fff, $alpha: 0.7);
  display: flex;
  justify-content: space-between;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    p {
      font-size: 30px;
    }
  }
}
